<%= form_for @dealer , :html => { :multipart => true } do |f| %>
  <% if @dealer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dealer.errors.count, "error") %> prohibited this dealer from being saved:</h2>

      <ul>
      <% @dealer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%if !@edit then %>  
  <div class="field">
    Login Information:<br/>
    <%= f.text_field(:email, :placeholder => 'Contact Email Address') %>
  </div>
  <div>
    <input name="password" type="password" placeholder="Password" size="25">
  </div>
  <div>
    <input name="password_confirmation" type="password" placeholder="Password Confirmation" size="25">
  </div>
  
  <br/><br/>
  
  <div class="field">
    Contact Information:<br/>
    <input name="first_name" type="text" placeholder="First Name" size="25">
    <input name="last_name" type="text" placeholder="Last Name" size="25">
  </div>
  <div>
    <input name="phone" type="text" placeholder="Contact Phone" size="25">
  </div>
<% end %>

 
  <br/>
  <br/>
  
  <div class="field">
    Dealership Information:<br/>
    <%= f.text_field(:name, :placeholder => 'Dealership Name') %>
  </div>
  <div class="field">
    <%= f.text_field(:hours_of_operation, :placeholder => 'Hours of Operation') %>
  </div>
  <br/>
  
  <div class="field">
    <%= f.label 'Address:' %><br />
    <%= f.text_field(:address1, :placeholder => 'Address Line 1') %>
  </div>
  <div class="field">
    <%= f.text_field(:address2, :placeholder => 'Address Line 2') %>
  </div>
  <div class="field">
    <%= f.text_field(:city, :placeholder => 'City') %>
  </div>
  <div class="field">
    <%= f.text_field(:state, :placeholder => 'State') %>
  </div>
  <div class="field">
    <%= f.text_field(:zipcode, :placeholder => 'Zipcode') %>
  </div>
  <br/>
  
  <div class="field">
    <%= f.label 'Contact Information:' %><br />
    <%= f.text_field(:sales_phone, :placeholder => 'Sales Phone') %>
  </div>
  <div class="field">
    <%= f.text_field(:service_phone, :placeholder => 'Service Phone') %>
  </div>
  
  <div class="field">
    <%= f.text_field(:website_url, :placeholder => 'Website URL') %>
  </div>
  <div class="field">
    <%= f.text_field(:facebook, :placeholder => 'Facebook Page') %>
  </div>
  <div class="field">
    <%= f.text_field(:twitter, :placeholder => 'Twitter Handle') %>
  </div>
  <br/>
  
  <div class="field">
    <%= f.label 'Dealership Logo:' %><br />
    <%= f.file_field :photo %>
  </div>
  <br/>
  
  <div class="actions">
    <%= f.submit "", :type => :image, :src => "/assets/create_dealer.png"%>
  </div>
  <br/>
  <br/>
<% end %>
