<section role="main" id="main">
    <div class="with-padding">

        <p id="notice"><%= notice %></p>

        <% if @dealer.photo.exists? then %>
            <%= image_tag @dealer.photo.url(:small) %>
        <% end %>

        <div class="block">

            <div class="block-title blue-gradient glossy">
                <h3><%= @dealer.name %></h3>
                <div class="button-group absolute-right compact">
                    <a href="#" class="button icon-pencil">Edit</a>
                    <a href="#" class="button icon-gear with-tooltip" title="Other actions"></a>
                    <a href="#" class="button icon-trash with-tooltip confirm" title="Delete"></a>
                </div>
            </div>
            <div class="columns">

                <div class="six-columns twelve-columns-mobile">
                    <div class="with-padding">

                        <p>
                            <%= "#{@dealer.address1}" %> <br/>
                            <%= "#{@dealer.city}, #{@dealer.state} #{@dealer.zipcode}"  %>
                        </p>
                        <p>
                            <b>Hours of operation:</b>
                            <%= @dealer.hours_of_operation %>
                        </p>
                        <p>
                            <b>Website url:</b>
                            <%= @dealer.website_url %>
                        </p>

                    </div>

                </div>
                
                <div class="six-columns twelve-columns-mobile">
                    <div class="with-padding">
                        <p>
                          <b>Sales phone:</b>
                          <%= @dealer.sales_phone %>
                        </p>

                        <p>
                          <b>Service phone:</b>
                          <%= @dealer.service_phone %>
                        </p>

                        <p>
                          <b>Email:</b>
                          <%= current_user.email %>
                        </p>
                        <p>
                          <b>Facebook:</b>
                          <%= @dealer.facebook %>
                        </p>

                        <p>
                          <b>Twitter:</b>
                          <%= @dealer.twitter %>
                        </p>

                    </div>

                </div>

            </div>
        </div>
    </div>

</section>


<h1>Listing cars</h1>

<table>
  <tr>
    <th>Dealer</th>
    <th>Reference code</th>
    <th>Title</th>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
    <th>Color</th>
    <th>Transmission</th>
    <th>Miles</th>
    <th>List price</th>
    <th>List date</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cars.each do |car| %>
  <tr>
    <td><%= car.dealer_id %></td>
    <td><%= car.reference_code %></td>
    <td><%= car.title %></td>
    <td><%= car.make %></td>
    <td><%= car.model %></td>
    <td><%= car.year %></td>
    <td><%= car.color %></td>
    <td><%= car.transmission %></td>
    <td><%= car.miles %></td>
    <td><%= car.list_price %></td>
    <td><%= car.list_date %></td>
    <td><%= car.description %></td>
    <td><%= link_to 'Show', car %></td>
    <td><%= link_to 'Edit', edit_car_path(car) %></td>
    <td><%= link_to 'Destroy', car, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'Add Car', new_car_path(dealer_id: @dealer) %>

<%= link_to 'Edit', edit_dealer_path(@dealer) %> |
<%= link_to 'Back', dealers_path %>
