<%= form_for @asset, :html => { :multipart => true } do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.hidden_field :car_id %>
      
  <p class="inline-large-label button-height">
    <%=  f.file_field :photo %>
    <span class="info-spot">
        <span class="icon-info-round"></span>
        <span class="info-bubble">
            This is a link to an image file.
        </span>
    </span>
  </p>
  <p class="inline-large-label button-height">
    <%=  f.text_field :description, :placeholder => 'Image Description', :class => 'input small-margin-right' %>
    <span class="info-spot">
        <span class="icon-info-round"></span>
        <span class="info-bubble">
            This is a short description of the image.
        </span>
    </span>
  </p>
  <p class="inline-large-label button-height">
    Primary:
    <%=  f.check_box :primary, :class => 'input small-margin-right' %>
    <span class="info-spot">
        <span class="icon-info-round"></span>
        <span class="info-bubble">
            This indicator of whether the current image should be considered the primary image.
        </span>
    </span>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
