<%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :dealer_id %>

  <h3 class="thin underline">Basic Vehicle Information</h3>
      
  <p class="inline-large-label button-height">
    <%=  f.text_field :year, :placeholder => 'Vehicle Year', :class => 'input small-margin-right' %>
    <span class="info-spot">
        <span class="icon-info-round"></span>
        <span class="info-bubble">
            The year the vehicle was manufactured.
        </span>
    </span>
  </p>
  <p class="inline-large-label button-height">
    <%=  f.text_field :make, :placeholder => 'Vehicle Make', :class => 'input small-margin-right' %>
    <span class="info-spot">
        <span class="icon-info-round"></span>
        <span class="info-bubble">
            The make of the vehicle, (i.e. Nissan, Ford, etc)
        </span>
    </span>
  </p>
  <p class="inline-large-label button-height">
    <%=  f.text_field :model, :placeholder => 'Vehicle Model', :class => 'input small-margin-right' %>
    <span class="info-spot">
        <span class="icon-info-round"></span>
        <span class="info-bubble">
            The model of the vehicle, (i.e. Cube, Mustang, etc)
        </span>
    </span>
  </p>
  <p class="inline-large-label button-height">
    <%=  f.text_field :color, :placeholder => 'Vehicle Color', :class => 'input small-margin-right' %>
    <span class="info-spot">
        <span class="icon-info-round"></span>
        <span class="info-bubble">
            The color of the vehicle.
        </span>
    </span>
  </p>
  <p class="inline-large-label button-height">
    <%=  f.text_field :transmission, :placeholder => 'Vehicle Transmission Type', :class => 'input small-margin-right' %>
    <span class="info-spot">
        <span class="icon-info-round"></span>
        <span class="info-bubble">
            The type of transmission in the vehicle, (Automatic, Manual)
        </span>
    </span>
  </p>
  <p class="inline-large-label button-height">
    <%=  f.text_field :miles, :placeholder => 'Miles on Vehicle', :class => 'input small-margin-right' %>
    <span class="info-spot">
        <span class="icon-info-round"></span>
        <span class="info-bubble">
            The miles on the vehicle.
        </span>
    </span>
  </p>

  
  <h3 class="thin underline">Vehicle Sales Information</h3>
  <p class="inline-large-label button-height">
    <%= f.text_field :title, :placeholder => 'Vehicle Headline Title', :class => 'input small-margin-right' %>
    <span class="info-spot">
        <span class="icon-info-round"></span>
        <span class="info-bubble">
            This something catchy to entice the user to look at this car.
        </span>
    </span>
  </p>
  <p class="inline-large-label button-height">
    <%= f.text_field :description, :placeholder => 'Vehicle Description', :class => 'input small-margin-right' %>
    <span class="info-spot">
        <span class="icon-info-round"></span>
        <span class="info-bubble">
            This a place to put all the important information about the vehicle that isn't in the fields above, such as leather, cold ac, stereo, rims, etc.
        </span>
    </span>
  </p>
  <p class="inline-large-label button-height">
    <%= f.text_field :list_price, :placeholder => 'Vehicle List Price', :class => 'input small-margin-right' %>
    <span class="info-spot">
        <span class="icon-info-round"></span>
        <span class="info-bubble">
            This is the price of the vehicle you want to present to the customer.
        </span>
    </span>
  </p>

  
  <h3 class="thin underline">Internal Tracking Information</h3>
  <p class="inline-large-label button-height">
    <%= f.text_field :reference_code, :placeholder => 'Vehicle Reference Code', :class => 'input small-margin-right' %>
    <span class="info-spot">
        <span class="icon-info-round"></span>
        <span class="info-bubble">
            This is a code that can be used for internal tracking, like a SKU.
        </span>
    </span>
  </p>
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
