
<section role="main" id="main">
    <div class="with-padding">

        <p id="notice"><%= notice %></p>


        <div class="block">

            <div class="block-title blue-gradient glossy">
                <h3><%= "#{@car.year}, #{@car.make} #{@car.model}"%></h3>
                <div class="button-group absolute-right compact">
                    <a href="#" class="button icon-pencil">Edit</a>
                    <a href="#" class="button icon-gear with-tooltip" title="Other actions"></a>
                    <a href="#" class="button icon-trash with-tooltip confirm" title="Delete"></a>
                </div>
            </div>
            <div class="columns">

                <div class="six-columns twelve-columns-mobile">
                    <div class="with-padding">

                        <p>
                            <b>Title:</b>
                            <%= @car.title %>
                        </p>
                        <p>
                            <b>Color:</b>
                            <%= @car.color %>
                        </p>
                        <p>
                            <b>Miles:</b>
                            <%= @car.miles %>
                        </p>
                        <p>
                            <b>Transmission:</b>
                            <%= @car.transmission %>
                        </p>

                    </div>

                </div>
                
                <div class="six-columns twelve-columns-mobile">
                    <div class="with-padding">
                        <p>
                          <b>Description:</b>
                          <%= @car.description %>
                        </p>
                        <p>
                          <b>Reference Code:</b>
                          <%= @car.reference_code %>
                        </p>
                        <p>
                          <b>List Date:</b>
                          <%= @car.list_date %>
                        </p>

                        <p>
                          <b>List Price:</b>
                          <%= @car.list_price %>
                        </p>
                        
                    </div>

                </div>

            </div>
        </div>
    </div>


<br/>
<%if @car.assets %>
<h1>Photos:</h1> 

    <% @car.assets.each do |asset| %>
    
        <% if asset.photo.exists? then %>
            <%= link_to image_tag(asset.photo.url(:thumb)), asset %>
        <% else %>
            <%= link_to 'Show', asset %>
        <% end %>
        <%= link_to image_tag('/assets/icons/delete_tiny_red22.png'), asset, confirm: 'Are you sure?', method: :delete %>
        &nbsp;&nbsp;&nbsp;&nbsp;
    <% end %>

<% end %>

<br/><br/>
<%= link_to image_tag('/assets/icons/add_photo.png') +'Add Photo', new_asset_path(car_id: @car.id) %>



<br/><br/><br/><br/>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', dealer_path(@car.dealer) %>

</section>
