  
    
	<!-- main content -->
  	<div data-role="content" >
  	
    <% if @dealer.photo.exists? then %>
            <%= image_tag(@dealer.photo.url(:small)) %>
        <% end %>
        
    <hr class="ornamental"/>
  		<h3 class="home-title">Welcome to <%= @dealer.name %></h3>
	<hr class="ornamental"/>

<br/><br/>
<!--Cars-->
 <% @cars.each do |car| %>
    <% @primaryasset = car.assets.find_by_primary true %>
    <% if @primaryasset && @primaryasset.photo.exists? then %>
            <%= link_to image_tag(@primaryasset.photo.url(:thumb)), car %>
    <% end %>
    
    <%= "#{car.year} #{car.make} #{car.model}" %><br/>
    <% if car.title %>
        <%= car.title %><br/>
    <% end %>
    <b>Color: <%= car.color %></b><br/>
    <b>Transmission:</b><%= car.transmission %><br/>
    <b>Miles:</b><%= car.miles %><br/>
    <b>Price:</b><%= car.list_price %><br/>
    <b>Info:</b><%= car.description %><br/>
    <b>List Date:</b><%= car.list_date %><br/>
    <td><%= link_to 'Show', car %></td>
    <br/><br/>
    
<% end %>
<!--/Cars -->

<br/><br/>

		<!-- navigation -->
		<ul data-role="listview" data-inset="true" id="listview" style="margin-bottom:0px">
			 
			<li><a href="about.html" data-prefetch data-transition="flip">About</a></li>
    		<li><a href="page-styles.html" data-prefetch>Page Styles</a></li>
            <li><a href="icons.html" data-transition="flip" data-prefetch>Nav Icons</a></li>
            <li><a href="contact.php" data-prefetch data-ajax="false">Contact Form</a></li>
        </ul>
        
        <div class="shadow2box"><img src="/assets/mobile/shadow2.png" class="shadow2" alt="shadow"></div>
        <!-- /navigation -->  
	
    
    <p>With 20+ page styles and over 60 HD navigation icons creating a mobile website for your business has never been easier!</p>
	<p>Clients can get directions or call you with one click, check your Twitter feed on the move, even view your recent projects in a touch optimized gallery!</p>
	

	<!-- social -->
    <div class="social">
    	<a href="http://on.fb.me/x0BFYB"><img src="/assets/mobile/social/fb-b.png" alt="facebook"></a>
    	<a href="http://twitter.com/beantowndesign"><img src="/assets/mobile/social/twitter2-b.png" alt="twitter"></a>
    	<a href="#"><img src="/assets/mobile/social/linkedin-b.png" alt="linkedin"></a>
    	<a href="#"><img src="/assets/mobile/social/dribble-b.png" alt="dribble"></a>
    	<a href="#"><img src="/assets/mobile/social/wordpress-b.png" alt="wordpress"></a>
    </div>
    <!-- /social -->

    
  </div>
  <!-- /main content -->    
    